<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Travel helper</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css" />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-left">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="navbar-brand">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <!-- send dashboard -->
                    Travel helper
                </h3>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="padding: 15px">
                    <li>
                        @RenderSection("tempTravel", required: false)
                    </li>
                    <li class="padding-bottom15 @RenderSection("actionsLiElementClass", false)">
                        <div class="btn-toolbar" role="toolbar" aria-label="Действия">
                            <div class="btn-group mr-2" role="group" aria-label="Редактировать">
                                @*@Html.ActionLink("Домашняя страница", "Index", "Home")*@
                                <button type="button" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Найти поблизости">
                                <button type="button" class="btn btn-success">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Распечатать">
                                <button type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Удалить">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>    
                    </li>
                    <li class="hidden-hover-container">
                        @RenderSection("nextPointButton", false)                        
                    </li>
                    <li style="margin-bottom: 40px;">
                        @RenderSection("scheduleButton", false)
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Все путешествия 
                            <span class="caret"></span>
                        </a>
                        @RenderSection("anotherTravels", false)
                    </li>
                    <li>
                        @RenderSection("newTravelButton", required: false)
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content-container">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
